<div class="container" style="  justify-content: space-between;">
  <h2 style="text-align: center;">
    <% if @bookings.any? %>
      My Bookings
    <% else %>
      Start Booking
    <% end %>
  </h2>
  <div class="container" style="display: flex; justify-content: space-evenly;">
    <% if @bookings.any? %>
      <div class="cards">
        <% @bookings.each do |booking| %>
          <!-- <li>
            <%= booking.id %> - <%= link_to booking.campsite.title ,booking_path(booking) %> <%= link_to "Leave a Review", new_booking_review_path(booking) %>
          </li> -->
          <div class="with_review">

            <%= render 'shared/campsite_card', campsite: booking.campsite %>
            <br>
              <button id="LeaveReview" class="nav-link btn btn-outline-primary modalBtn mr-3 btn-block">Leave Review</button>
            <!-- The Modal -->
            <div name="LeaveReview" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <%= render 'reviews/new', booking: booking, review: Review.new %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <% else %>
      <div class="left-container" style="margin-top: 80px">
        <p>There was never a better time for camping...</p>

        <a href="../../campsites/" class="btn btn-outline-primary mr-3">Find my next campsite</a>
      </div>
      <div class="right-container" style="margin-top: 60px">
        <%= image_tag("campfire.png", width: "600") %>
      </div>

      <% end %>

  </div>
</div>


