<div class="container" style="  justify-content: space-between;">
  <h2 style="text-align: center;">
    <% if @bookings.any? %>
      My Bookings
    <% end %>
  </h2>
  <div class="container" style="display: flex; justify-content: space-evenly;">
    <% if @bookings.any? %>
      <div class="cards">
        <% @bookings.each do |booking| %>
          <!-- <li>
            <%= booking.id %> - <%= link_to booking.campsite.title ,booking_path(booking) %> <%= link_to "Leave a Review", new_booking_review_path(booking) %>
          </li> -->
          <div class="with_review">

            <%= render 'shared/campsite_card', campsite: booking.campsite %>
            <br>
            <% unless booking.reviews.select { |review| review.booking.user == current_user  }.any? %>
              <button id="LeaveReview_<%= booking.id%>" class="nav-link btn btn-outline-primary modalBtn mr-3 btn-block">Leave Review</button>
            <% end %>
            <!-- The Modal -->
            <div name="LeaveReview_<%= booking.id%>" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <%= render 'reviews/new', booking: booking, review: Review.new %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <% else %>
      <div class="left-container" style="margin-top: 80px">
        <h3>Best time for camping is now...</h4>
        <p>Go ahead! Find your next campsite.</p>

        <a href="../../campsites/" class="btn btn-outline-primary mr-3">Find my campsite</a>
      </div>
      <div class="right-container" style="margin-top: 60px; width: 600px;">
        <%= image_tag("campfire.png", width: "700") %>
      </div>

      <% end %>

  </div>
</div>
