<div class="container" style="display: flex; justify-content: space-evenly;">
  <div class="left-container">
    <h1>You are booking <strong><%= @campsite.title.titleize %></strong> </h1>
    <h4><strong>(<%= current_user.first_name.titleize %></strong> is your host for this booking)</h4>
    <br>
    <h4>
      Dates: <strong><%= @booking.start_date.to_date %></strong> to <strong><%= @booking.end_date.to_date %></strong>
    </h4>
    <h4>
      Guests: <strong><%= @booking.guests %></strong>
    </h4>
    <hr>
    <br>
    <%= simple_form_for [@campsite, @booking] do |f| %>
      <%= f.input :guests, as: :hidden %>
      <%= f.input :start_date, as: :hidden %>
      <%= f.input :end_date, as: :hidden %>
      <%= f.association :user, as: :hidden  %>
      <%= f.association :campsite, as: :hidden %>
      <%= f.button :submit, "Confirm Booking", class: "btn-primary" %>
    <% end %>
  </div>
</div>
