<div class="container" style="display: flex; justify-content: space-evenly;">
  <div class="left-container">
    <h1>You are booking <strong><%= @booking.campsite.title %></strong> </h1>
    <h4><strong>(<%= @booking.campsite.user.first_name %></strong> is your host for this booking)</h4>
    <br>
    <h4>
      Dates: <strong><%= @booking.start_date.to_date if @booking.start_date %></strong> to <strong><%= @booking.end_date.to_date if @booking.end_date %></strong>
    </h4>
    <h4>
      Guests: <strong><%= @booking.guests %></strong>
    </h4>
    <hr>
    <br>
  </div>
</div>
