<div class="">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "astronomy" %>);">
    <div class="container search-container">
      <%= simple_form_for :query, url: campsites_path, method: :get do |f| %>
          <%= f.input :address, input_html: { id: "campsite-address" } %>
          <%= f.input :start_date, as: :string, input_html: {type: :date} %>
          <%= f.input :end_date, as: :string, input_html: {type: :date} %>
          <%= f.input :guests, as: :integer %>
          <%= f.button :submit, class: "btn-primary" %>
      <% end %>
    </div>
    <div class="container text-container">
      <h1>Camping experience made simple</h1>
      <h2>Camp on private lands and access unique and safe new places </h2>
    </div>
    <div class="container copyright">
      <p>Photo by Chait Goli from Pexels</p>
    </div>
  </div>
  <div class="sub-container">
    <h2>Explore Campster</h2>
    <div class="product-container">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Campsites
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Trekk
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Activities
      </div>
    </div>
  </div>
  <div class="sub-container">
    <h2>Top-rated experience</h2>
    <div class="product-container">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Campsites
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Trekk
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Activities
      </div>
    </div>
  </div>
</div>
<br><br>
