<div class="" style="">
  <div class="">
  <%= simple_form_for [booking, review] do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :rating %>
    <%= f.button :submit, class: "btn-primary" %>
  <% end %>
  </div>
</div>
<br>
