<div class="booking-form col-4 book bg-light p-3 border rounded w-100">
  <p class="text-right m-0 mb-3"><strong>£<%= campsite.price_per_night %> per night</strong></p>
  <% if policy(Booking.new(campsite: campsite)).create? %>
  <%= simple_form_for :query, url: new_campsite_booking_path(campsite), method: :get do |f| %>
      <%= f.input :dates, as: :string, input_html: {id: "query_date-field"} %>
      <%= f.input :guests, as: :integer %>
      <%= f.button :submit, "Book!", class: "btn-primary" %>
    <% end %>
  <% elsif policy(campsite).update? %>
    <div>
      <div class="d-flex mb-1">
        <%= link_to "Edit Campsite", edit_campsite_path(campsite), class: "btn btn-primary mr-1 w-100" %>
        <%= link_to "Set as Unavailable", edit_campsite_path(campsite), class: "btn btn-outline-primary w-100" %>
      </div>
      <%= link_to "Remove from Campster", campsite_path(campsite),
        method: :delete,
        class: "btn btn-danger btn-block",
        data: { confirm: "Are you sure?" } %>
    </div>
      <% if campsite.bookings || campsite.unavailables %>
        <div class="py-3">
          <% campsite.bookings.each do |booking| %>
            <%= render 'unavailable_badge', object: booking %>
          <% end %>
          <% campsite.unavailables.each do |unavailable| %>
            <%= render 'unavailable_badge', object: unavailable %>
          <% end %>
        </div>
      <% end %>
  <% end %>
</div>
