<div class="key-details px-3 col-8">
  <div>
    <%= link_to "Back to results", campsites_path %>
    <h1><%= campsite.title %></h1>
    <div class="d-flex align-items-center justify-content-between">
      <p><%= campsite.address %></p>
      <div class="d-flex align-items-center">
        <a href="#reviews">
          <p class="m-0">4.7</p>
        </a>
        <a href="#reviews">
          <%= icon('fas', 'star') %>
        </a>
      </div>
    </div>

    <div class="campsite-info d-flex my-3">
      <div class="host-details d-flex align-items-center">
          <%= image_tag "https://res.cloudinary.com/dqh0reqn3/image/upload/v1566572388/no_image_picture_ed0pbm.png", class: "avatar mr-3" %>
          <p class="m-0"><%= campsite.user.email %></p>
      </div>
    </div>
  </div>
  <p class='m-0'><%= campsite.description %></p>
</div>
