<div class="container">
  <% @campsites.each do |campsite| %>
    <h1><%= campsite.title %></h1>
    <p><%= campsite.description %></p>
    <p><%= campsite.price_per_night %></p>
    <p><%= campsite.amenities %></p>
    <p><%= campsite.address %></p>
  <% end %>
</div>
