<div class="container mt-0 mb-3">
  <%= render 'carousel', campsite: @campsite %>
  <div class="d-flex align-items-top my-5">
    <%= render 'key_details', campsite: @campsite %>
    <%= render 'booking_or_owner_form', campsite: @campsite %>
  </div>
  <div class="bg-light p-3 border rounded">
    <div class="big-details d-flex ml-3 justify-content-around">
      <%= render 'amenities' %>
      <%= render 'flat_details' %>
    </div>
      <div class="reviews pt-3">
        <h2>Reviews</h2>
        <%= render 'review' %>
      </div>
  </div>
</div>


